<form method="get" name="recherche_travel" class="margin-20 ">
    <h4 class="center-div">Filtrer les sorties</h4>
    <div class="div-recherche margin-20">
        <div>
            <div class="margin-20">
                <div class="dateStart">
                    <div>
                        <label for="dateFirs">Entre</label>
                        <input type="datetime-local" name="dateFirs" id="dateFirs" value="{{ dateStart }}">
                    </div>
                    <div>
                        <label for="dateEnd">Et</label>
                        <input type="datetime-local" name="dateEnd" id="dateEnd" value="{{ duration }}">
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" {% if dateValid %} style="display:none;" {% endif %} >
                    La date de
                    début doit être inférieur a la date de fin
                </div>
            </div>
        </div>
        <div>
            <div>
                <input type="checkbox" id="leaderTravel" name="leaderTravel" {% if lead %} checked {% endif %}>
                <label for="leaderTravel">Sortie dont je suis l'organisateur/trice</label>
            </div>

            <div class="margin-10">
                <input type="checkbox" id="travelSubscri" name="travelSubscri" {% if subscri %} checked {% endif %}>
                <label for="travelSubscri">Sortie au quel je suis inscrit/e</label>
            </div>

            <div class="margin-10">
                <input type="checkbox" id="travelDontSubscri"
                       name="travelDontSubscri" {% if dontSubscri %} checked {% endif %}>
                <label for="travelDontSubscri">Sortie au quel je ne suis pas inscrit/e</label>
            </div>

            <div class="margin-10">
                <input type="checkbox" id="travelEnd" name="travelEnd" {% if endTravel %} checked {% endif %}>
                <label for="travelEnd">Sortie passées</label>
            </div>
        </div>

        <input class="btn btn-outline-primary" type="submit" name="recherche_site" value="Rechercher">
    </div>
</form>